/* CSS Document */
header{
	width:100%;
	height:60px;
	background-color:#eee;
}
/* article start */
article{
	overflow: hidden;
	position: fixed;
	bottom:40px;
	float:left;
	left:220px;
	top:60px;
	right:0;
}
/* car-header start */
.car-header{
	width:100%;
	color:white;
	line-height:60px;
	text-indent: 2em;
	background-color:rgb(55,162,234);
}
/* car-header end */
/* section start */
section{
	width:100%;

}
.car-search{
	width:50%;
	height:50px;
	margin:10px auto 31px;
}
.car-search input{
	margin-top: 10px;
	height:30px;
	float:left;
	width:70%;
}
.searchClick{
	width:28%;
	float:left;
	color:white;
	height:30px;
	cursor: pointer;
	margin-top: 10px;
	line-height: 30px;
	text-align: center;
	background-color: rgb(55,162,234);
}
.searchClick:hover{
	opacity:.8;
}
/* cared  start*/
.cared{
	width:90%;
	height:334px;
	margin:0 auto;
}
/* attention start */
.attention{
	width:100%;
	height:50px;
}
.attention p{
	margin-right: 10px;
	line-height: 30px;
	float:left;
}
.carColor{
	width:30px;
	height:30px;
	border-radius:50%;
}
.otherCar{
	background-color:#eee;
}
.selftCar{
	background-color:skyblue;
}
.selftCar:hover{
	opacity: .8;
}
.allCar{
	background-color:#AAA;
}
/* attention end */
.carsRecord{
	width:100%;
	height:320px;
}
/* carNew start */
.carNew{
	float:left;
	width:90px;
	height:70px;
	padding:5px;
	cursor:pointer;
	margin-left: 10px;
	border-radius:5px;
	text-align: center;
	margin-bottom: 10px;
}
.carNew p{margin:0;}
.deleteCar:hover,.carAdd:hover{
	opacity: .8;
}
/*.carNew img{
	height:100%;
}*/
.deleteCar{
	height:50%;
	border-radius:50%;
	position: relative;
	top:-75px;
	left:40px;
}
/* carNew end */
.carAdd,.takeReCar{
	float:right;
	color:white;
	padding:5px;
	text-indent:0;
	font-size:14px;
	cursor:pointer;
	margin-top:14px;
	line-height: 20px;
	border-radius:5px;
	margin-right:40px;
	border:1px solid #CCC;
	background-color:#CCC;
}
/* cared  end*/
/* section end */
/* article end */
.paginationCom{
	float:left;
	margin-left:400px;
}
.carSelf{
	width:300px;
}
.navCar{margin-bottom:20px;}
/* personCar start */
.personCar{
	width:100%;
	height:28px;
}
/* addCar start */
.addCar{
	position: absolute;
	background: white;
	height:500px;
	width:400px;
	margin:auto;
	bottom:0;
	left: 0;
	right:0;
	top:0;
}
/* addCar end */
/* personCarer start */
.personCarer{display:none;}
/* personCarer end */
.demo{margin:40px auto;width:100%;}
.input{padding:6px;border:1px solid #d3d3d3;width:90px;}
/* re-startT start */
.re-startT{
	width:150px;
	display: inline-block;
}
footer{
	float:left;
	width:100%;
	height:40px;
	position: fixed;
	bottom:0;
	background-color:pink;
}

.re_label{
	line-height:33px;
}
td .carAdd,.takeReCar{
	float:left;
	margin-right:0;
	margin-top:0;
    padding: 1px 5px;
    font-size:12px;
}
.deleteRe{
	margin-left:30px;
}
.table{
	margin-bottom: 0;
}