<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cmcc.oa.dao.AdminUserMapper">
	<resultMap id="BaseResultMap" type="cmcc.oa.entity.AdminUser">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="username" property="username" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="mobile" property="mobile" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="status" property="status" jdbcType="INTEGER" />
	</resultMap>

	<resultMap type="cmcc.oa.vo.UserInfoVo" id="ResultVoMap"
		extends="BaseResultMap">
		<result column="key" property="key" jdbcType="VARCHAR" />
		<result column="role_id" property="roleId" jdbcType="INTEGER" />
		<result column="role_name" property="roleName" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, name, username, password, mobile, create_time,
		update_time, status
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from admin_user
		where id = #{id,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from
		admin_user
		where id = #{id,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="cmcc.oa.entity.AdminUser">
		insert into admin_user (id,
		name, username,
		password, mobile, create_time,
		update_time, status)
		values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
		#{username,jdbcType=VARCHAR},
		#{password,jdbcType=VARCHAR},
		#{mobile,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
		#{updateTime,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER})
	</insert>
	<insert id="insertSelective" parameterType="cmcc.oa.entity.AdminUser">
		insert into admin_user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="username != null">
				username,
			</if>
			<if test="password != null">
				password,
			</if>
			<if test="mobile != null">
				mobile,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="status != null">
				status,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="username != null">
				#{username,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				#{password,jdbcType=VARCHAR},
			</if>
			<if test="mobile != null">
				#{mobile,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="status != null">
				#{status,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="cmcc.oa.entity.AdminUser">
		update admin_user
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="username != null">
				username = #{username,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				password = md5(#{password,jdbcType=VARCHAR}),
			</if>
			<if test="mobile != null">
				mobile = #{mobile,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=INTEGER},
			</if>
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="cmcc.oa.entity.AdminUser">
		update admin_user
		set name = #{name,jdbcType=VARCHAR},
		username =
		#{username,jdbcType=VARCHAR},
		password = #{password,jdbcType=VARCHAR},
		mobile = #{mobile,jdbcType=VARCHAR},
		create_time =
		#{createTime,jdbcType=TIMESTAMP},
		update_time =
		#{updateTime,jdbcType=TIMESTAMP},
		status = #{status,jdbcType=INTEGER}
		where id = #{id,jdbcType=VARCHAR}
	</update>

	<!-- 登录验证 -->
	<select id="findVoByPass" parameterType="cmcc.oa.entity.AdminUser"
		resultMap="ResultVoMap">
		select au.*,ar.role_id,dd.key,dd.name as role_name from
		admin_user au,admin_role ar,data_dictionary dd
		where
		au.id=ar.admin_user_id and ar.role_id=dd.id and
		au.username=#{username} and au.password=md5(#{password}) and au.status=1
	</select>

	<!-- 查询用户名是否存在 -->
	<select id="findByUsername" parameterType="java.lang.String"
		resultType="java.lang.Integer">
		select count(*) from
		admin_role where username=#{username}
		and status = 1
	</select>

	<!-- 根据账号修改密码 -->
	<update id="updatePassByUsername" parameterType="java.lang.String">
		update
		admin_user set password=md5(#{password}) where username=#{username}
		and status=1
	</update>
	
	<!-- 模糊查询所有登录用户 -->
	<select id="findByLike" parameterType="java.lang.String"
		resultMap="ResultVoMap">
		select au.*,ar.role_id,dd.key,dd.name as role_name from
		admin_user
		au,admin_role ar,data_dictionary dd
		where
		au.id=ar.admin_user_id and
		ar.role_id=dd.id and au.status=1
		<if test="mess != null">
			and 
			(au.name like concat('%',#{str},'%')
			or
			au.username like concat('%',#{str},'%')
			or
			au.mobile like concat('%',#{str},'%')
			)
		</if>
	</select>
</mapper>